.rde-sidebar{
    margin-top: 1px;
    height: 100%;
    width: 400px;
    background-color: #00001a;
    transition: all 0.3s;
}

.rde-sidebar-header {
    height: 50px;
    padding: 1px;
}

.rde-sidebar-menu{
    padding: 1px;
}

.rde-sidebar-menu-item {
    margin: 1px;
    padding: 10px;
    font-size: 1.1em;
    font-weight: 600;
    text-align: left;
    background-color: #002e4d;
}

.rde-sidebar-menu-dropdown {
    margin: 1px;
    padding: 10px;
    font-size: 1.1em;
    font-weight: 600;
    text-align: left;
    background-color: #002e4d;
}

.rde-sidebar-menu-dropdown-content {
    height: 0px;
    overflow: hidden;
}

.rde-sidebar-menu-item:hover, .rde-sidebar-menu-item.active {
    background-color: #005c99;
}

.rde-sidebar-menu-dropdown-item {
    margin: 1px;
    padding: 5px;
    padding-left: 30px;
    font-size: 1em;
    font-weight: 600;
    text-align: left;
    background-color: #002e4d;
}

.rde-sidebar-menu-dropdown-item:hover, .rde-sidebar-menu-dropdown-item.active {
    background-color: #005c99;
}

.rde-sidebar-menu-dropdown:hover ~ .rde-sidebar-menu-dropdown-content, .rde-sidebar-menu-dropdown-content:hover, .rde-sidebar-menu-dropdown-content.active {
    height: auto;
}

.rde-caret {
    float: right;
    margin-right: 10px;
}