.rde-sidebar{
    margin-top: 1px;
    height: 100vh;
    width: 200px;
    background-color: #00001a
}

.rde-sidebar-header {
    height: 50px;
    padding: 1px;
}

.rde-sidebar-menu{
    padding: 1px;
}

.rde-sidebar-menu-item {
    margin: 1px;
    padding: 7px;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    background-color: #002e4d;
}

.rde-sidebar-menu-dropdown {
    margin: 1px;
    padding: 7px;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    background-color: #002e4d;
}

.rde-sidebar-menu-dropdown-content {
    display: none;
}

.rde-sidebar-menu-item:hover, .active {
    background-color: #005c99;
}

.rde-sidebar-menu-dropdown-item {
    margin: 1px;
    padding: 5px;
    padding-left: 20px;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    background-color: #002e4d;
}

.rde-sidebar-menu-dropdown-item:hover, .active {
    background-color: #005c99;
}

.rde-sidebar-menu-dropdown:hover ~ .rde-sidebar-menu-dropdown-content, .rde-sidebar-menu-dropdown-content:hover {
    display: block;
}