/* .rde-searchbar-container {
    height: 50px;
} */

.rde-searchbar {
    background-color: #00001a;
    margin: 1px;
    padding: 2px;
}

.rde-searchbar-inner {
    background-color: #002e4d;
    padding: 3px;
    display: flex;
    flex-flow: row;
}

.rde-searchbar-menu-icon {
    margin: 1px;
    padding: 11px;
    width: auto;
}

.rde-searchbox-container {
    background-color: #00001a;
    flex: 1 1 auto;
}

.rde-searchbox {
    width: 100%;
    font-weight: 600;
    font-size: 1.1em;
    height: 40px;
    margin: 3px;
    padding-left: 7px;
    color: aliceblue;
    background-color: #00001a;
    border-radius: 8px;
    border:1px solid #002e4d;
}