.rde-header {
    background-color: #00001a;
    height: 50px;
    padding: 1px;
    white-space: nowrap;
}

.rde-menu{
    font-size: 19px;
    display: inline-block;
}

.rde-menu-item {
    display: inline-block;
    margin: 1px;
    padding: 9px;
    font-weight: 600;
    text-align: center;
    background-color: #002e4d;
}

.rde-menu-item:hover, .active{
    background-color: #005c99;
}

.rde-menu-icon {
    display: inline-block;
    margin: 1px;
    padding: 11px;
}

.rde-menu-icon:hover {
    background-color: #005c99;
}

.rde-user-icon {
    display: block;
    float: right;
    font-weight: 600;
    font-size: 17px;
    margin: 1px;
    padding: 11px;
}