.rde-header {
    background-color: #00001a;
    height: 70px;
    padding: 1px;
    white-space: nowrap;
}

.rde-logo-container{
    display: inline-block;
    overflow: hidden;
    /* border: 7px; */
    /* border-color: #005c99; */
    height: 100%;
}

.rde-logo{
    height: 100%;
    position: relative;
}

.rde-menu{
    font-size: 1em;
    display: inline-block;
}

.rde-menu-item {
    display: inline-block;
    margin: 1px;
    padding: 9px;
    font-weight: 600;
    text-align: center;
    background-color: #002e4d;
}

.rde-menu-item:hover, .active{
    background-color: #005c99;
}

.rde-header-menu-icon {
    display: block;
    float: left;
    margin: 1px;
    padding: 15px;
}

.rde-menu-icon:hover {
    background-color: #005c99;
}

.rde-user-icon {
    display: block;
    float: right;
    font-weight: 600;
    font-size: 1.1em;
    margin: 1px;
    padding: 17px;
}